#set($title = "我的插件配置aaa")

<h2>$title</h2>

#if ($req.getParameter('success'))
    <div class="aui-message aui-message-success">
        <p><strong>配置已成功保存！</strong></p>
    </div>
#end
#if ($req.getParameter('error'))
    <div class="aui-message aui-message-error">
        <p><strong>保存失败</strong></p>
    </div>
#end

<form action="$actionUrl" method="post" class="aui">
    <div class="field-group">
        <label for="clientId">客户端id <span class="aui-icon icon-required">(必填)</span></label>
        <input class="text medium-long" 
               type="text" 
               id="clientId"
               name="clientId"
               value="$!{clientId}">
    </div>

    <div class="field-group">
        <label for="clientSecret">客户端secret <span class="aui-icon icon-required">(必填)</span></label>
        <input class="text medium-long"
               type="text"
               id="clientSecret"
               name="clientSecret"
               value="$!{clientSecret}">
    </div>

    <div class="field-group">
        <label for="authorizationEndpoint">认证端点 <span class="aui-icon icon-required">(必填)</span></label>
        <input class="text medium-long"
               type="text"
               id="authorizationEndpoint"
               name="authorizationEndpoint"
               value="$!{authorizationEndpoint}">
    </div>

    <div class="field-group">
        <label for="tokenEndpoint">token端点 <span class="aui-icon icon-required">(必填)</span></label>
        <input class="text medium-long"
               type="text"
               id="tokenEndpoint"
               name="tokenEndpoint"
               value="$!{tokenEndpoint}">
    </div>

    <div class="field-group">
        <label for="userInfoEndpoint">用户信息端点 <span class="aui-icon icon-required">(必填)</span></label>
        <input class="text medium-long"
               type="text"
               id="userInfoEndpoint"
               name="userInfoEndpoint"
               value="$!{userInfoEndpoint}">
    </div>
    
    <div class="buttons">
        <input class="aui-button aui-button-primary" type="submit" value="保存配置">
    </div>
</form>