<html>
<head>
    <title>Oauth2Bridge Config</title>
</head>
<body>
<h1>Oauth2Bridge 配置</h1>
<form method="post">
    <input type="hidden" name="command" value="execute"/>
    <label>
        Client ID:
        <input type="text" name="clientId" placeholder="ClientId" value="$!action.clientId"/>
    </label>

    <label>
        Client Secret:
        <input type="text" name="clientSecret" placeholder="ClientSecret" value="$!action.clientSecret"/>
    </label>

    <label>
        Authorization Endpoint:
        <input type="text" name="authorizationEndpoint" placeholder="AuthorizationEndpoint" value="$!action.authorizationEndpoint"/>
    </label>

    <label>
        Token Endpoint:
        <input type="text" name="tokenEndpoint" placeholder="TokenEndpoint" value="$!action.tokenEndpoint"/>
    </label>

    <label>
        User Info Endpoint:
        <input type="text" name="userInfoEndpoint" placeholder="UserInfoEndpoint" value="$!action.userInfoEndpoint"/>
    </label>

    <input type="submit" value="保存"/>
</form>

#if($action.getMessage())
<p style="color:green;">$action.getMessage()</p>
#end

</body>
</html>