<html>
<head>
    <title>$i18n.getText("oauth2bridge.title")</title>
    <meta name="admin.active.section" content="admin_plugins_menu/oauth2-bridge-section"/>
    <meta name="admin.active.tab" content="oauth2-bridge-setting-item-link"/>
    <meta name="decorator" content="atl.admin"/>
</head>
<body>
<form method="post">
    <input type="hidden" name="command" value="execute"/>
    <label>
        User Info Endpoint:
        <input type="text" name="userInfoEndpoint" placeholder="UserInfoEndpoint" value="$!action.userInfoEndpoint"/>
    </label>

    <input type="submit" value="保存"/>
</form>

#if($action.getMessage())
<p style="color:green;">$action.getMessage()</p>
#end

</body>
</html>