<html>
<head>
    <title>oauth2bridge</title>
    <meta name="decorator" content="atl.general">

    <!-- 引入 JIRA 标准 CSS -->
    $webResourceManager.requireResourcesForContext("jira.general")
    $webResourceManager.requireResourcesForContext("oauth2bridge")
</head>
<body>

<section id="content" role="main">
    <!-- 使用 AUI 页面布局 -->
    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
            <div id="message-container"></div>

            <form class="aui">
                <div class="field-group">
                    <label for="client-id">客户端id</label>
                    <input class="text medium-field" type="text" id="client-id" name="clientId" value="">
                    <div class="description">Enter clientId for the plugin.</div>
                </div>
                <div class="field-group">
                    <label for="client-secret">客户端secret</label>
                    <input class="text medium-field" type="text" id="client-secret" name="clientSecret" value="">
                    <div class="description">Enter clientSecret for the plugin.</div>
                </div>
                <div class="field-group">
                    <label for="authorization-endpoint">认证地址</label>
                    <input class="text medium-field" type="text" id="authorization-endpoint" name="authorizationEndpoint" value="">
                    <div class="description">Enter authorizationEndpoint for the plugin.</div>
                </div>
                <div class="field-group">
                    <label for="token-endpoint">token地址</label>
                    <input class="text medium-field" type="text" id="token-endpoint" name="tokenEndpoint" value="">
                    <div class="description">Enter tokenEndpoint for the plugin.</div>
                </div>
                <div class="field-group">
                    <label for="userInfo-endpoint">userInfo地址</label>
                    <input class="text medium-field" type="text" id="userInfo-endpoint" name="userInfoEndpoint" value="">
                    <div class="description">Enter userInfoEndpoint for the plugin.</div>
                </div>
                <div class="buttons">
                    <input id="save-button" class="aui-button aui-button-primary" type="button" value="保存配置">
                </div>
            </form>

        </div>
    </div>
</section>

</body>
</html>